<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<insert id="insert">
	INSERT INTO mp_board (
            brd_title
          , brd_content
          , brd_writer
          , brd_created
    ) VALUES (
            #{brd_title}
          , #{brd_content}
          , #{brd_writer}
          , NOW())
	</insert>
	
	<select id="list" resultType="com.ta9.basic.vo.BoardVo">
	SELECT brd_no
		 , brd_title
		 , brd_writer
		 , brd_created
	  FROM mp_board
	 ORDER BY brd_no DESC
	</select>
	
	<select id="read" parameterType="int" resultType="com.ta9.basic.vo.BoardVo">
	SELECT brd_no
		 , brd_title
		 , brd_content
		 , brd_writer
		 , brd_created
	 FROM mp_board
	WHERE brd_no = #{brd_no}
	</select>
	
	<update id="update" parameterType="com.ta9.basic.vo.BoardVo">
	UPDATE mp_board
	   SET brd_title   = #{brd_title}
	   	 , brd_content = #{brd_content}
	 WHERE brd_no = #{brd_no}
	</update>
	
	<delete id="delete" parameterType="int">
	DELETE 
	  FROM MP_BOARD
	 WHERE brd_no = #{brd_no}
	</delete>
</mapper>